<div class="container">
    <div class="starter-template">
        <h1>Home Page</h1>
        <p class="lead">
            <br>People manager</p>
        <hr>
        <h2>Latest Company Events</h2>
        <div class="latestTodos">
            <div class="row">
                <!-- Boxes de Acoes -->
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-tasks"></i></div>
                            <div class="info">
                                <h3 class="title">Made with Bootstrap</h3>
                                <div class="more">
                                    <a href="#" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-tasks"></i></div>
                            <div class="info">
                                <h3 class="title">Icons by Font Awesome</h3>
                                <div class="more">
                                    <a href="#" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-tasks"></i></div>
                            <div class="info">
                                <h3 class="title">Desktop Friendly</h3>
                                <div class="more">
                                    <a href="#" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>